<h1>All Machines</h1>
<table class="table" *ngIf="machines && machines.length > 0">
  <thead>
    <tr>
      <th scope="col">Machine ID#</th>
      <th scope="col">Machine Name</th>
      <th scope="col">Components</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let machine of machines">
      <td>{{ machine.id }}</td>
      <td>{{ machine.name }}</td>
      <td>
        <ul>
          <li *ngFor="let component of machine.components">{{ component }}</li>
        </ul>
      </td>
      <td>
        <a class="nav__links__link" [routerLink]="'/machine/' + machine.id">Details</a>
        <button class="nav__links__link">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<p *ngIf="!machines || machines.length == 0">No Machines</p>
<router-outlet></router-outlet>
