h1 {
  text-align: center;
  color: var(--primary-color);
  margin-top: 2rem;
}

button,
a {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 0.25rem 0.5rem;
  margin: 0 1rem;
  text-decoration: none;
}

table {
  max-width: 90%;
  margin: 0 auto;
}
