<h1>All Machines</h1>
<table class="table" *ngIf="machines && machines.length > 0">
  <thead>
    <tr>
      <th scope="col">Machine ID#</th>
      <th scope="col">Machine Name</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let machine of machines">
      <td>{{ machine.id }}</td>
      <td>{{ machine.name }}</td>
      <td>
        <a class="nav__links__link" [routerLink]="['/machines', 'edit', machine.id]">Edit</a>
      </td>
      <td>
        <a class="nav__links__link" [routerLink]="[]" (click)="deleteMachine(machine.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
<p *ngIf="!machines || machines.length == 0">No Machines</p>
<router-outlet></router-outlet>
